@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  margin: 0 auto;
  margin-top: 30px;
  height: 300px;
  width: 200px;
  font-size: 60px;
}

.suit-top {
  margin-top: -20 px;
  height: 8%;
  text-align: left;
  margin-left: 6px;
}

.suit-bottom {
  margin-top: 60px;
  margin-right: 6px;
  text-align: left;
  transform: rotate(180deg);
}

.card-value {
  text-align: center;
  transform: translateY(55%);
}

.red {
  color: red;
}

.black {
  color: black;
}
